button, form{
    margin: 10px;
}

.jumbotron{
    text-align: center;
    font-weight: bold;
    background-color: #747474; 
    color: black;
    padding-top: 2px;
	padding-bottom: 2px;

}



/* Lines up the Gifs to make better formating*/

.item {
	padding: 10px;
	display: inline-block;
}

p{
    background-color: #36454f;
    color: white;
}
