button, form{
    margin: 10px;
    padding: 10px;
    background-color: #36454f;
    color: white;
}

#jumbotron{
    text-align: center;
    font-weight: bold;
    background-color: #36454f; 
    color: white;
    padding-top: 10px;
	padding-bottom: 10px;

}



/* Lines up the Gifs to make better formating*/

.item {
	padding: 10px;
	display: inline-block;
}

p{
    background-color: #36454f;
    color: white;
}
